@font-face {
  font-family: "Proxima Nova Rg";
  src: url("ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("././assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
    url("././assets/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #2a2d33;
}
html,
body {
  font-family: "Proxima Nova Rg", "Arial", sans-serif;
  width: 100%;
  color: #2a2d33;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  transition: 1s;
  background: #fff;
  margin-bottom: 200px;
  z-index: 110000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  max-width: 9%;
  max-height: 9%;
  transition: 1s;
}
.header__logo.scroll {
  max-width: 5%;
  max-height: 5%;
}
.header__img {
  max-width: 100%;
}
.header__item {
  font: 600 16px/130% "Proxima Nova Rg", sans-serif;
  text-transform: uppercase;
  margin-right: 50px;
}
.header__nav {
  transition: 1s;
}
.header__nav.scroll {
  display: none;
}
.header__burger.scroll {
  display: block;
}
.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
  transition: 1s;
}
.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #105074;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: 0.3s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.lock {
  /* overflow: hidden; */
  padding-right: 17px;
}
.header__burger span {
  position: absolute;
  background-color: #105074;
  left: 0;
  width: 100%;
  height: 3px;
  top: 9px;
  transition: 0.2s;
}
.header__menu {
  position: fixed;
  top: -100%;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: #fff;
  padding: 120px 10px 20px 10px;
  transition: 0.3s;
  font-size: 30px;
  text-align: center;
  overflow: auto;
  z-index: -10;
}
.header__menu.active {
  top: 0;
}
.header__btn {
  display: none;
  color: #fff;
  padding: 0 25px;
  font: 600 13px/46px "proxima nova", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: 0;
  outline: 0 none;
  border-radius: 27.5px;
  padding: 0 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  background-size: 150% auto;
}
.header__btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #ff7002, #ff080a);
}
.header__btn.scroll {
  display: block;
}

.head {
  position: relative;
  margin-bottom: 200px;
  margin-top: 350px;
}
.head__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.head__col-1 {
  display: flex;
  flex-direction: column;
}
.head__title {
  color: #30343e;
  font: 800 7.5vw/90% "Raleway", sans-serif;
  margin: 0 0 20px;
}
.head__subtitle {
  font: 700 2.5vw/130% "proxima nova", sans-serif;
  color: #30343e;
  margin: 0 0 30px;
}
.head__btn {
  white-space: nowrap;
  max-width: 200px;
  color: #fff;
  padding: 0 25px;
  font: 600 13px/46px "proxima nova", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: 0;
  outline: 0 none;
  border-radius: 27.5px;
  padding: 0 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  background-size: 150% auto;
}
.head__btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #ff7002, #ff080a);
}

#sphere-wrap {
  position: absolute;
  width: 50%;
  height: 1000px;
  bottom: -100%;
  left: 50%;
  /* height: 500px; */
}
#sphere {
  width: 100%;
  height: 100%;
}

.services__title {
  background: transparent;

  font: 600 14px/100% "proxima nova", sans-serif;
  color: #b5bbc7;
  border: 1px solid transparent;
  letter-spacing: 1px;
  min-height: 28px;
  background: #fff;
  border-radius: 14px;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  min-width: auto;
  margin: 0 5px 50px 0;
  padding: 6px 15px 4px;
}
.services__title:hover {
  cursor: pointer;
}
.services__titles {
  display: flex;
}
.services__title.select {
  border: 1px solid #ff3607;
  color: #ff3607;
}
.pulse {
  background-color: red;
  border-radius: 50%;
  animation: pulse 0.7s ease-out;
  transform: scale(0);
  position: absolute;
}
@keyframes pulse {
  to {
    transform: scale(2);
    background-color: green;
    opacity: 0;
  }
}

.services,
.advantage {
  margin-bottom: 150px;
}
.services {
  margin-bottom: 220px;
}
.advantage {
  margin-bottom: 220px;
}
.content__img-wrap {
  min-width: 100px;
  height: 100px;
  margin-right: 40px;
}
.content__img {
  width: 100px;
  height: 100px;
}
.services__contents {
  height: 180px;
}
.services__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content__title {
  font: 700 2.5vw "proxima nova", sans-serif;
  color: #30343e;
}
.content__subtitle_big {
  font: 700 1.5vw/130% "proxima nova", sans-serif;
  color: #30343e;
  margin-bottom: 10px;
}
.content__subtitle {
  font: 700 1vw/130% "proxima nova", sans-serif;
  color: #30343e;
  margin: 0 0 30px;
}
.services__header,
.advantage__header,
.working__header {
  color: #30343e;
  font: 600 4.5vw/90% "Raleway", sans-serif;
  margin-bottom: 60px;
}
.advantage__img {
  max-width: 500px;
}
.advantage__title {
  color: #000000;
  font-size: 18px;
  position: relative;
  margin-left: 25px;
  font-size: 24px;
  font-weight: bolder;
}
.advantage__title::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  width: 5px;
  height: 100px;
  left: -25px;
  border-radius: 5px;
}
.advantage__row {
  display: flex;
  justify-content: space-between;
}
.advantage__column {
  display: flex;
  flex-direction: column;
}
.advantage__line {
  color: #8b8b8c;
  margin-left: 25px;
  font-weight: bold;
}

.working {
  margin-bottom: 60px;
}
.working__img-wrap {
  width: 150px;
  height: 150px;
}
.working__img {
  width: 100%;
}

.working__items {
  display: flex;
  justify-content: space-around;
}
.working__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  padding: 5px;
}

.working__item:last-child {
  margin-right: 0;
}
.item__image {
  width: 100px;
  margin-bottom: 15px;
}
.item__title {
  color: #30343e;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.item__text {
  font-weight: bold;
  color: #666666;
  text-align: justify;
}

footer {
  height: 50px;
  border-top: solid 1px grey;
}
.footer__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: grey;
  align-items: center;
}
.footer__tel,
.footer__mail {
  font: 600 13px/46px "proxima nova", sans-serif;
  color: #2a2d33;
}
.services {
  background: url(../img/right.svg);
  background-position: right;
  background-repeat: no-repeat;

  background-origin: content-box;
}
.working {
  background: url(../img/left.svg);
  background-position: left bottom;
  background-repeat: no-repeat;

  background-origin: content-box;
}
.burger-bg {
  position: fixed;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(116, 118, 124, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  display: none;
}
.burger-bg.active {
  display: block;
}
body.active {
  width: auto;
  overflow: hidden;
}
.selected {
  display: block;
}
.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 500000;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup.popup-active {
  display: flex;
}
.popup__container {
  max-width: 600px;
  background: darkgray;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 4px 3px grey;
  padding: 0 15px;
}
.popup__close {
  color: #e86016;
  font-size: 46px;
  line-height: 29px;
  font-weight: bolder;
  position: absolute;
  top: -25px;
  right: -30px;
  background: transparent;
  width: 38px;
  height: 38px;
  text-align: center;
  cursor: pointer;
}
.popup__close:hover,
.popup__close:focus {
  filter: brightness(0.5);
  text-decoration: none;
}
.form__checkbox {
  width: 17px;
  height: 17px;
  border-radius: 52px;
  margin-right: 15px;
}
.form {
  padding: 20px 0;
}
.form label {
  margin-top: 20px;
  font-size: 12px;
  color: gray;
  display: flex;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  width: 100%;
  border: none;
  height: 60px;
  outline: none;
  /* padding-left: 10px; */
  font-size: 17px;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;
}
.form__btn {
  color: #fff;
  padding: 0 25px;
  font: 600 13px/46px "proxima nova", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: 0;
  outline: 0 none;
  border-radius: 27.5px;
  padding: 0 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  background-size: 150% auto;
  margin-top: 10px;
}
.form__btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #ff7002, #ff080a);
}

.js-validate-error-label {
  position: absolute;
  right: 15px;
  bottom: 130px;
}
.info {
  text-align: center;
  display: none;
}
.info-ok {
  display: block;
}

@media (max-width: 1199px) {
  .container {
    max-width: 750px;
  }
  header {
    margin-bottom: 50px;
  }
  .header__container {
    padding: 5px;
  }
  .head {
    margin-top: 50px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: none;
  }
  .head {
    margin-top: 50px;
  }
  #sphere-wrap {
    height: 500px;
    background-image: url("../img/rentfon.jpg");

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  #sphere {
    display: none;
  }
  .working__items {
    flex-wrap: wrap;
  }
  .content__title {
    font: 700 3.5vw "proxima nova", sans-serif;
  }
  .content__subtitle_big {
    font: 700 2.5vw/130% "proxima nova", sans-serif;
  }
  .content__subtitle {
    font: 700 1vw/130% "proxima nova", sans-serif;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 970px;
    margin-bottom: 110px;
  }
  .header__burger {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  header {
    margin-bottom: 50px;
  }
  .head {
    margin-bottom: 50px;
  }
  .services,
  .advantage {
    margin-bottom: 50px;
  }
  .header__menu {
    width: 30%;
  }
  .content__title {
    font: 700 4.5vw "proxima nova", sans-serif;
  }
  .content__subtitle_big {
    font: 700 3 vw/130% "proxima nova", sans-serif;
  }
  .content__subtitle {
    font: 700 1.5vw/130% "proxima nova", sans-serif;
  }
}

@media (max-width: 550px) {
  .header__menu {
    width: 100%;
  }
  .advantage__row {
    flex-direction: column;
  }
  .advantage__column {
    margin-bottom: 15px;
  }
  .advantage__title::before {
    display: none;
  }
  .advantage__header {
    text-align: center;
  }
  .content__img-wrap {
    display: none;
  }
  .content__title {
    font: 700 4.5vw "proxima nova", sans-serif;
  }
  .content__subtitle_big {
    font: 700 3.5vw/130% "proxima nova", sans-serif;
  }
  .content__subtitle {
    font: 700 2vw/130% "proxima nova", sans-serif;
  }
  .working__items {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .working__header {
    text-align: center;
  }
  .services__header {
    text-align: center;
    padding-top: 10px;
  }
  .footer__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer__container span,
  .footer__tel {
    margin-right: 10px;
  }
}

@media (max-width: 450px) {
  .content__title {
    font: 700 6.5vw "proxima nova", sans-serif;
  }
  .content__subtitle_big {
    font: 700 4.5vw/130% "proxima nova", sans-serif;
  }
  .content__subtitle {
    font: 700 2vw/130% "proxima nova", sans-serif;
  }
  #sphere-wrap {
    display: none;
  }
  .head__col-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .head__subtitle {
    font: 700 3.5vw/130% "proxima nova", sans-serif;
    color: #30343e;
    margin: 0 0 30px;
  }
  .working__item {
    margin-bottom: 15px;
  }
  .services__header,
  .advantage__header {
    color: #30343e;
    font: 800 7.5vw/90% "Raleway", sans-serif;
  }
  .advantage__column {
    margin-bottom: 20px;
  }
  .working__header {
    font: 800 5.5vw/90% "Raleway", sans-serif;
  }
  .services__titles {
    justify-content: space-between;
    align-items: stretch;
  }
}

@media (max-width: 350px) {
  .services__titles {
    flex-wrap: wrap;
  }
}
