@font-face {
  font-family: "Proxima Nova Rg";
  src: url("ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
    url("assets/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #2a2d33;
}
html,
body {
  font-family: "Proxima Nova Rg", "Arial", sans-serif;
  /* width: 100%; */
  /* height: 100%; */
  color: #2a2d33;
  margin-right: 15px;
}

.wrapper {
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  /* position: relative;  */
}
main {
  flex: 1 1 auto;
  /* position: relative;  */
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 1s;
  background: #fff;
  margin-bottom: 200px;
  z-index: 110000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  max-width: 9%;
  max-height: 9%;
  transition: 1s;
}
.header__logo.scroll {
  max-width: 5%;
  max-height: 5%;
}
.header__img {
  max-width: 100%;
}
.header__item {
  font: 600 16px/130% "Proxima Nova Rg", sans-serif;
  text-transform: uppercase;
  margin-right: 50px;
}
.header__nav {
  transition: 1s;
}
.header__nav.scroll {
  display: none;
}
.header__burger.scroll {
  display: block;
}
.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
  transition: 1s;
}
.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #105074;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: 0.3s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.lock {
  /* overflow: hidden; */
  padding-right: 17px;
}
.header__burger span {
  position: absolute;
  background-color: #105074;
  left: 0;
  width: 100%;
  height: 3px;
  top: 9px;
  transition: 0.2s;
}
.header__menu {
  position: fixed;
  top: -100%;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: #fff;
  padding: 120px 10px 20px 10px;
  transition: 0.3s;
  font-size: 30px;
  text-align: center;
  overflow: auto;
  z-index: -10;
}
.header__menu.active {
  top: 0;
}
.header__btn {
  display: none;
  color: #fff;
  padding: 0 25px;
  font: 600 13px/46px "proxima nova", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: 0;
  outline: 0 none;
  border-radius: 27.5px;
  padding: 0 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  background-size: 150% auto;
}
.header__btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #ff7002, #ff080a);
}
.header__btn.scroll {
  display: block;
}

.head {
  position: relative;
  margin-bottom: 200px;
  margin-top: 350px;
}
.head__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.head__col-1 {
  display: flex;
  flex-direction: column;
}
.head__title {
  color: #30343e;
  font: 800 7.5vw/90% "Raleway", sans-serif;
  margin: 0 0 20px;
}
.head__subtitle {
  font: 700 2.5vw/130% "proxima nova", sans-serif;
  color: #30343e;
  margin: 0 0 30px;
}
.head__btn {
  white-space: nowrap;
  max-width: 200px;
  color: #fff;
  padding: 0 25px;
  font: 600 13px/46px "proxima nova", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: 0;
  outline: 0 none;
  border-radius: 27.5px;
  padding: 0 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  background-size: 150% auto;
}
.head__btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #ff7002, #ff080a);
}

#sphere-wrap {
  position: absolute;
  width: 50%;
  height: 1000px;
  bottom: -100%;
  left: 50%;
  /* height: 500px; */
}
#sphere {
  width: 100%;
  height: 100%;
  /* background-image: url('bg.jpg');
    background-size: cover; */
}

.services__title {
  background: transparent;

  font: 600 14px/100% "proxima nova", sans-serif;
  color: #b5bbc7;
  border: 1px solid transparent;
  letter-spacing: 1px;
  min-height: 28px;
  background: #fff;
  border-radius: 14px;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  min-width: auto;
  margin: 0 5px 50px 0;
  padding: 6px 15px 4px;
}
.services__titles {
  display: flex;
}
.services__title.select {
  border: 1px solid #ff3607;
  color: #ff3607;
}
.pulse {
  background-color: red;
  border-radius: 50%;
  animation: pulse 0.7s ease-out;
  transform: scale(0);
  position: absolute;
}
@keyframes pulse {
  to {
    transform: scale(2);
    background-color: green;
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 970px;
    margin-bottom: 110px;
  }
  .header__burger {
    display: block;
  }
  .header__nav {
    display: none;
  }
}

.services,
.advantage {
  margin-bottom: 150px;
}
.advantage {
  margin-bottom: 220px;
}
.content__img-wrap {
  min-width: 100px;
  height: 100px;
  margin-right: 40px;
}
.content__img {
  width: 100px;
  height: 100px;
}
.services__contents {
  height: 180px;
}
.services__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content__title {
  font: 700 2.5vw "proxima nova", sans-serif;
  color: #30343e;
}
.content__subtitle_big {
  font: 700 1.5vw/130% "proxima nova", sans-serif;
  color: #30343e;
  margin-bottom: 10px;
}
.content__subtitle {
  font: 700 1vw/130% "proxima nova", sans-serif;
  color: #30343e;
  margin: 0 0 30px;
}
.services__header,
.advantage__header,
.working__header {
  color: #30343e;
  font: 600 4.5vw/90% "Raleway", sans-serif;
  margin-bottom: 60px;
}
.advantage__header {
}

/* .advantage__container {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
} */
.advantage__img {
  max-width: 500px;
}
.advantage__title {
  color: #000000;
  font-size: 18px;
  position: relative;
  margin-left: 25px;
  font-size: 24px;
  font-weight: bolder;
}
.advantage__title::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  width: 5px;
  height: 100px;
  left: -25px;
  border-radius: 5px;
}
.advantage__row {
  display: flex;
  justify-content: space-between;
}
.advantage__column {
  display: flex;
  flex-direction: column;
}
.advantage__line {
  color: #8b8b8c;
  margin-left: 25px;
  font-weight: bold;
}

.working {
  margin-bottom: 60px;
}
.working__img-wrap {
  width: 150px;
  height: 150px;
}
.working__img {
  width: 100%;
}

/* 
.working__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
} */

.working__items {
  display: flex;
  justify-content: space-around;
}
.working__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;

  /* border: #18A3DD solid 2px;
  margin-right: 20px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px; */
  padding: 5px;
}

.working__item:last-child {
  margin-right: 0;
}
.item__image {
  width: 100px;
  margin-bottom: 15px;
}
.item__title {
  color: #30343e;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
margin-bottom: 15px;
}
.item__text {
  font-weight: bold;
  color: #666666;
  text-align: justify;
}

footer {
  height: 50px;
  border-top: solid 1px grey;
  /* align-items: center; */
}
.footer__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: grey;
  align-items: center;
}
.footer__tel,
.footer__mail {
  font: 600 13px/46px "proxima nova", sans-serif;
  color: #2a2d33;
}
.services {
  background: url(./right.svg);
  background-position: right;
  background-repeat: no-repeat;

  background-origin: content-box;
}
.working {
  background: url(./left.svg);
  background-position: left bottom;
  background-repeat: no-repeat;

  background-origin: content-box;
}

/* .burger-menu__bg {
  position: fixed;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(116, 118, 124, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  display: none;
} */

.burger-bg {
  position: fixed;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(116, 118, 124, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  display: none;
}
.burger-bg.active {
  display: block;
}
body.jactive {
  overflow: "hidden";
}

.selected {
  display: block;
}

.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 500000;
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup.popup-active {
  display: flex;
}
.popup__container {
  max-width: 600px;
  background: darkgray;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 4px 3px grey;
  padding: 0 15px;
}
.popup__close {
  color: #e86016;
  font-size: 46px;
  line-height: 29px;
  font-weight: bolder;
  position: absolute;
  top: -25px;
  right: -30px;
  background: transparent;
  width: 38px;
  height: 38px;
  text-align: center;
  cursor: pointer;
}
.popup__close:hover,
.popup__close:focus {
  filter: brightness(0.5);
  text-decoration: none;
}
.form__checkbox {
  width: 17px;
  height: 17px;
  border-radius:52px;
  margin-right: 15px;
}
.form {
  padding: 20px 0;
}
.form label {
  margin-top: 20px;
  font-size: 12px;
  color: gray;
  display: flex;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 input {
  width: 100%;
  border: none;
  height: 60px;
  outline: none;
  /* padding-left: 10px; */
  font-size: 17px;
  border-radius: 3px;
  margin-bottom: 20px;
  position: relative;
}

.form__btn {
  color: #fff;
  padding: 0 25px;
  font: 600 13px/46px "proxima nova", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: 0;
  outline: 0 none;
  border-radius: 27.5px;
  padding: 0 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  background-size: 150% auto;
  margin-top: 10px;
}
.form__btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #ff7002, #ff080a);
}

.js-validate-error-label {
  position: absolute;
  right: 15px;
bottom:130px;
}
/* .popup {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_content {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;

  transform: translateX(-50%);
  width: 40rem;
  background-color: #ffffff;
}
.popup__container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;/
  width: 400px;
  height: 450px;
  border-radius: 25px;
  right: 0;
  box-shadow: 0 0 6px 2px gray;
  position: relative;
  position: fixed;
  top: 10%;
  left: 50%;
} */
/* .popup__close {
  position: absolute;
  top: -2.2rem;
  right: -5rem;
  font-size: 4rem;
  color: #ffffff;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 46px;
  line-height: 29px;
  font-weight: bold;
  order: 0;
  position: absolute;
  top: -18px;
  right: -18px;
  background: tomato;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  border: 0;
  outline: 0 none;
}
.popup__close:hover {
  filter: brightness(0.5);
  text-decoration: none;
} */
/* .form {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: rgba(156, 145, 145,0.6);
  /* z-index: 50;  
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  */
/* .popup {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  background-color:rgba(156, 145, 145,0.6);
  z-index: 500; 
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup__container {
  max-width: 600px;
  background: grey;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 4px 3px #18A3DD;
}
.popup__close {
  color: #ffffff;
  font-size: 46px;
  line-height: 29px; 
  font-weight: bolder;
  position: absolute;
  top: -18px;
  right: -18px; 
  background:  #18A3DD;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center; 
  cursor: pointer;
}
.popup__close:hover,
.popup__close:focus {
  filter: brightness(0.5);
  text-decoration: none;
}
.popup__text {
  color:tomato;
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: bold;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


form {
  width: 100%;
  height: 100%;
  display: FLEX;
  position: fixed;
  background-color: rgba(156, 145, 145,0.6);
  z-index: 50; 
  overflow: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.form__container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 400px;
  height: 450px;
  border-radius: 25px;
  right: 0;
  box-shadow: 0 0  6px 2px gray;
  position: relative;
}.form__close {
  color: #ffffff;
  font-size: 46px;
  line-height: 29px; 
  font-weight: bold;
  order: 0;
  position: absolute;
  top: -18px;
  right: -18px;
  background: tomato;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center; 
} 
.form__close:hover,
.form__close:focus {
filter: brightness(0.5);
text-decoration: none;
}
.form__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__title {
  font-size: 22px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.form__item {
  width: 356px;
  height: 56px;
  background-color: #EEEEEE;
  border-radius: 8px;
  font-size: 28px;
  border: none;
  margin-top:20px;
  color: tomato;
  outline: none;
}
.form__checkbox {
  width: 17px;
  height: 17px;
  border-radius:52px;
  margin-right: 15px;
}
.form__items label {
  margin-top: 20px;
  font-size: 12px;
  color: gray;
  display: flex;
  justify-content: space-between;
}
.form__button {
  background-color: #18A3DD;
  width: 350px;
  height: 60px;
  color: #ffffff;
  font-size: 22px;
  border: none;
  border-radius: 35px;
  margin: 28px auto;
  outline: none;
}
.form__button:hover {
  background-color: tomato;
  cursor: pointer;
  box-shadow: 0 0  6px 2px gray;
} */
