@font-face {
  font-family: "Proxima Nova Rg";
  src: url("ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
    url("assets/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Lt";
  src: url("ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"),
    url("assets/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #2a2d33;
}
html,
body {
  font-family: "Proxima Nova Rg", "Arial", sans-serif;
  width: 100%;
  /* height: 100%; */
  color: #2a2d33;
}
.wrapper {
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  /* position: relative;  */
}
main {
  flex: 1 1 auto;
   /* position: relative;  */
  
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 1s;
  background: #fff;
  margin-bottom: 200px;
  z-index: 110000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  max-width: 9%;
  max-height: 9%;
  transition: 1s;
}
.header__logo.scroll {
  max-width: 5%;
  max-height: 5%;
}
.header__img {
  max-width: 100%;
}
.header__item {
  font: 600 16px/130% "Proxima Nova Rg", sans-serif;
  text-transform: uppercase;
  margin-right: 50px;
}
.header__nav {
  transition: 1s;
}
.header__nav.scroll {
  display: none;
}
.header__burger.scroll {
  display: block;
}
.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
  transition: 1s;
}
.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #105074;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: 0.3s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.lock {
  /* overflow: hidden; */
  padding-right: 17px;
}
.header__burger span {
  position: absolute;
  background-color: #105074;
  left: 0;
  width: 100%;
  height: 3px;
  top: 9px;
  transition: 0.2s;
}
.header__menu {
  position: fixed;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color:#FFEDBC;
  padding: 120px 10px 20px 10px;
  transition: 0.3s;
  /* overflow: auto; */
  font-size: 30px;
  text-align: center;
}
.header__menu.active {
  top:0;
}
.header__btn {
  display: none;
  color: #fff;
  padding: 0 25px;
  font: 600 13px/46px "proxima nova", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: 0;
  outline: 0 none;
  border-radius: 27.5px;
  padding: 0 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  background-size: 150% auto;
}
.header__btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #ff7002, #ff080a);
}
.header__btn.scroll {
  display: block;
}

.head{
  position: relative;
  margin-bottom:200px;
  margin-top: 350px;
}
.head__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.head__col-1 {
  display: flex;
  flex-direction: column;
}
.head__title {
  color: #30343e;
  font: 800 7.5vw/90% "Raleway", sans-serif;
  margin: 0 0 20px;
}
.head__subtitle {
  font: 700 2.5vw/130% "proxima nova", sans-serif;
  color: #30343e;
  margin: 0 0 30px;
}
.head__btn {
  white-space: nowrap;
  max-width: 200px;
  color: #fff;
  padding: 0 25px;
  font: 600 13px/46px "proxima nova", sans-serif;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: 0;
  outline: 0 none;
  border-radius: 27.5px;
  padding: 0 30px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  background-size: 150% auto;
}
.head__btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #ff7002, #ff080a);
}

#sphere-wrap {
  position: absolute;
  width: 100%;
  height: 1000px;
  bottom:-100%;
  left:37%;
    /* height: 500px; */
}
#sphere {
    width: 100%;
    height: 100%;
    /* background-image: url('bg.jpg');
    background-size: cover; */
}



.services__title {
  background: transparent;

  font: 600 14px/100% "proxima nova", sans-serif;
  color: #b5bbc7;
  border: 1px solid transparent;
  letter-spacing: 1px;
  min-height: 28px;
  background: #fff;
  border-radius: 14px;
  transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
  min-width: auto;
  margin: 0 5px 50px 0;
  padding: 6px 15px 4px;
}
.services__titles {
  display: flex;
}
.services__title.selected {
  border: 1px solid #ff3607;
  color: #ff3607;
}
.pulse {
  background-color: red;
  border-radius: 50%;
  animation: pulse 0.7s ease-out;
  transform: scale(0);
  position: absolute;
}
@keyframes pulse {
  to {
    transform: scale(2);
    background-color: green;
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 970px;
    margin-bottom: 110px;
  }
  .header__burger {
    display: block;
  }
  .header__nav {
    display: none;
  }
}


.services,
.advantage {
  margin-bottom: 100px;
}
.content__img-wrap {
  border: solid rebeccapurple 1px;
  min-width: 100px;
  height: 100px;
  margin-right: 40px;
}
.content__img {
  width: 100px;
  height: 100px;
}
.services__content {
  display: flex;
  justify-content: center;
  align-items:center;
}
.content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content__title {
  font: 700 2.5vw "proxima nova", sans-serif;
  color: #30343e;
}
.content__subtitle_big {
  font: 700 1.5vw/130% "proxima nova", sans-serif;
  color: #30343e;
  margin-bottom: 10px;
}
.content__subtitle {
  font: 700 1vw/130% "proxima nova", sans-serif;
  color: #30343e;
  margin: 0 0 30px;
}
.services__header,
.advantage__header,
.working__header{
  
    color: #30343e;
    font: 600 4.5vw/90% "Raleway", sans-serif;
    margin-bottom: 60px;
  
}
.advantage__header {
  
}

/* .advantage__container {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
} */
.advantage__img {
  max-width: 500px;
}
.advantage__title {
  color: #000000;
  font-size: 18px;
  position: relative;
  margin-left: 25px;
  font-size: 24px;
  font-weight: bolder;
}
.advantage__title::before {
  content:'';
  position: absolute;
  background: linear-gradient(90deg, #ff080a 0, #ff7002);
  width: 5px;
  height: 100px;
  left:-25px;
  border-radius: 5px;
}
.advantage__row  {
  display: flex;
  justify-content: space-between;
}
.advantage__column {
  display: flex;
  flex-direction: column;
}
.advantage__line {
  color:#8B8B8C;
  margin-left: 25px;
  font-weight: bold;
}




.working__img-wrap {
  width: 150px;
  height: 150px;
}
.working__img {
  width: 100%;
}
.working__items {
  display: flex;
}